{% extends "base.html" %}

{% block content %}
  <h1>Listado de Municipios</h1>
  <table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Departamento</th>
            <th>Pais</th>
            <th>Código</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for municipio in municipios %} 
        <tr>
            <td>{{ municipio.nombre }}</td>
            <td>{{ municipio.departamento.nombre }}</td> 
            <td>{{ municipio.departamento.pais.nombre }}</td>  
            <td>{{ municipio.codigo }}</td>
            <td>
                <a href="{% url 'municipio_update' municipio.pk %}">Editar</a>
                |
                <a href="{% url 'municipio_delete' municipio.pk %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'municipio_create' %}">Agregar Municipio</a>

<form method="GET" action="{% url 'municipio_list' %}">
    <input type="text" name="q" placeholder="Buscar municipio">
    <button type="submit">Buscar</button>
</form>
{% endblock %}
