{% extends "base.html" %}

{% block content %}
  <h1>Listado de Departamentos</h1>
  <table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Pais</th>
            <th>Código</th>
            <th>Acciones</th>  <!-- Agregamos una columna para las acciones -->
        </tr>
    </thead>
    <tbody>
        {% for departamento in departamentos %}
        <tr>
            <td>{{ departamento.nombre }}</td>
            <td>{{ departamento.pais.nombre }}</td>
            <td>{{ departamento.codigo }}</td>
            <td>
                <a href="{% url 'departamento_update' departamento.pk %}">Editar</a>
                |
                <a href="{% url 'departamento_delete' departamento.pk %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'departamento_create' %}">Agregar Departamento</a>
<form method="GET" action="{% url 'departamento_list' %}">
    <input type="text" name="q" placeholder="Buscar departamento">
    <button type="submit">Buscar</button>
</form>
{% endblock %}
