<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título Predeterminado{% endblock %}</title>
    <!-- Agrega el enlace al archivo CSS de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block extra_style %}
    <!-- Agrega aquí tus estilos personalizados si es necesario -->
    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">Inicio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/about/">Acerca de</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact/">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'pais_list' %}">Países</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'departamento_list' %}">Departamentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'municipio_list' %}">Municipios</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/about/">Acerca de</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact/">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login/">Iniciar Sesión</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container mt-4">
        <!-- Aquí se mostrará el contenido principal de tus páginas -->
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-light text-center py-3">
        <div class="container">
            <!-- Aquí puedes incluir el pie de página de tu sitio -->
            <p>Derechos de autor &copy; {{ year }} Luis Ademar Quinto Orellana</p>
        </div>
    </footer>

    <!-- Agrega los scripts de Bootstrap al final del documento -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
