{% extends "base.html" %}

{% block content %}
  <h1>Listado de Países</h1>
  <ul>
    {% for pais in paises %}
      <li>{{ pais.nombre }} ({{ pais.codigo }}) - <a href="{% url 'pais_update' pais.pk %}">Editar</a> | <a href="{% url 'pais_delete' pais.pk %}">Eliminar</a></li>
    {% endfor %}
  </ul>
  <a href="{% url 'pais_create' %}">Agregar País</a>

<form method="GET" action="{% url 'pais_list' %}">
    <input type="text" name="q" placeholder="Buscar Pais">
    <button type="submit">Buscar</button>
</form>
{% endblock %}

